*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  height: 300px;
  width: 300px;
  border: 2px solid ;
  /* margin-left:100px; */
  /* margin-top: 200px; */
  /* margin-bottom: 50px;
  padding-left: 100px;
  padding-top: 100px; */
  margin-left:  auto ;
  margin-right: auto;
  padding: 20px 50px 40px;
}
.box1{
  height: 300px;
  width: 300px;
  border: 2px solid ;
  /* margin-left:100px; */
  
 
}
